@page
@using Common.Shared.DTO
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    foreach(PortfolioDTO portfolio in Model.Portfolios)
    {
    <p>@portfolio.Name</p>
    }
}