@page "{id:Guid}"
@using Common.Shared.DTO
@model ReportModel
@{
    ViewData["Title"] = "Portfolio Report";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Portfolio Report</h1>
    <p><<a class="btn btn-secondary" asp-page="./Portfolio">Close</a></p>
</div>
